.footer {
  width: 100%;
  min-height: 78vh;
  overflow: hidden;
  position: relative;
}
.footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url("your-background-image.jpg"); */
  background: #f0f0f0;
  opacity: 0.3;
  z-index: -1;
}
.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  /* background-image: url("your-background-image.jpg"); */
  background: url("../Assets/images/shape/wmap.webp") repeat-x;
  animation: movingBackground 30s linear infinite;
}

@keyframes movingBackground {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50%);
  }
}
.footercontainer {
  width: 84.5%;
  margin: auto;
  position: relative;
}
.footerlinks {
  display: flex;
  justify-content: end;
  margin-top: 3rem;
  flex-wrap: wrap;
}
.footerlink {
  color: var(--bluecolor);
  font-size: 1.6rem;
  font-weight: 600;
  margin: 1rem 1.5rem;
}
.footerlink:hover {
  color: var(--redcolor);
}
.horizontaldiv {
  margin: 3rem 0;
  opacity: 0.3;
}
.footercontent {
  margin-bottom: 2rem;
}
.footercontent {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  margin-top: 7rem;
}
.footerlistabout {
  width: 33%;
}

.footerlist {
  width: 16%;
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
}
.footerdesccontent {
  font-size: 1.4rem;
}
.footerlistslink {
  display: flex;
  flex-direction: column;
}
.footersocialicons {
  display: flex;
  font-size: 1.5rem;
  color: black;
}
.footersocialicon {
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  position: relative;
  padding: 1.2rem;
  /* background-color: transparent; */
  background-color: #f0f0f0;
  background: radial-gradient(circle, #e11e25 50%, #f0f0f0 50%);
  /* background: linear-gradient(#e11e25 50%,#e11e25 50%); */
  background-size: 0% 0%;
  background-position: center;
  transition: all 1s ease;
  /* outline: none; */
  cursor: pointer;
  margin: 0.6rem;
  border-radius: 3px;
  z-index: 1;
}
.footersocialicon:hover {
  background-size: 200% 200%; /* Increase the size to ensure full coverage */
  color: white;
}
/* .footersocialicon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0%;
  height: 0%;
  background-color: var(--redcolor);
  transition: width 0.6s, height 0.3s, top 0.3s, left 0.3s;
  border-radius: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.footersocialicon:hover{
  color: white;
  background-color: transparent;
}
.footersocialicon:hover::before {
  width: 300%;
  height: 300%;
  top: 50%;
  left: 50%;
} */
.footerdesccontent {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: 2rem 0;
}
.footeraddress {
  font-size: 1.5rem;
}
.footeratags {
  font-size: 1.5rem;
  color: black;
  margin: 0.8rem 0;
}
.footeratags:hover {
  color: var(--redcolor);
}
.footerlistheading {
  margin-bottom: 2rem;
}
.footerdesccontent .footeraddress,
.mobilenumber,
.email {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}
.footerrights {
  width: 100%;
  height: 80px;
  padding: 1rem 0;

  background-color: #f0f0f0;
}
.footercontainerx {
  width: 80%;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
}
.footerright {
  font-size: 1.5rem;
  color: black;
  /* width: 90%; */
  /*margin: auto 0; */
}
.footerright:hover {
  color: var(--redcolor);
}
.footerlist:nth-child(4) {
  width: 26%;
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .footercontent {
    flex-wrap: wrap;
  }
  .footerlistabout,
  .footerlist {
    width: 45%;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .footercontent {
    flex-direction: column;
  }
  .footerlistabout {
    width: 100%;
  }
  .footerlist {
    width: 100%;
  }
  .footerlistheading {
    margin-top: 2rem;
  }
  .footeraddress {
    text-align: justify;
  }
  .footerrights {
    padding: 2rem 1rem;
  }
  .footercontainerx {
    flex-direction: column;
  }
  .footerlinks {
    justify-content: center;
    align-items: center;
  }
  footer {
    z-index: -1;
  }
}
