.intromachine {
  width: 100%;
  min-height: 500px;
  background-color: #f7f7f7;
  /* background-color: rgb(171, 171, 206); */
}
.intromachinecompo {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intromachineleft {
  width: 60%;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
}
.intromachineform {
  width: 30%;
  border: 1px solid white;
}
.breadcrumconnections {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 5rem;
  display: flex;
  justify-content: flex-start;
  color: grey;
  align-items: center;
}
.breadcrumconnectiondislink {
  color: grey;
}
.breadcrumconnectiondislink:hover {
  color: black;
}
.breadcrumconnectionactivelink {
  color: black;
}
.intromachineheading {
  color: var(--bluecolor);
  font-size: 3.5rem;
  margin: 1rem 0;
}
.intromachinedescription {
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #595959;
  word-spacing: 0.1rem;
  /* text-align: justify; */
}
.intromachineform {
  margin-top: 7rem;
}
.intromachinecard {
  width: 100%;
  /* border: 1px solid black; */
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  /* height: 300px; */
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border-radius: 10px;
}
.intromachineforminputs {
  width: 100%;
  margin: 0.5rem 0;
  padding: 1rem;
  border: 1px solid rgba(128, 128, 128, 0.382);
  border-radius: 5px;
}
.intromachineforminputs {
  resize: vertical;
}
.intromachineformbtn {
  padding: 2rem 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  /* justify-content: space-between; */
  /* margin-right: 1rem; */
  align-items: center;
  width: fit-content;
  background-color: var(--bluecolor);
  border: none;
  border-radius: 10px;
  color: white;
}
.intromachineicon {
  margin-left: 1rem;
}
.descriptionmachine {
    width: 100%;
    min-height: 100vh;
    background-color: white;
}
.descriptionmachinecomp{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5rem;

}
.descriptionmachineleft{
    width: 65%;
}
.descriptionmachineleftdata{
    font-size: 3rem;
    color: var(--bluecolor);
}
.descriptionmachineleftdata>span{
    color: var(--redcolor);
}
.descriptionmachineleft >img{
    width: 100%;
}
.descriptionmachineright{
    width: 33%;
}
.descriptionsuggestions{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.descriptionsuggestion{
    /* border: 1px solid black; */
    margin: 1rem 0;
    padding: 2.5rem 4rem;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: var(--bluecolor);
    /* justify-content: center; */
    background-color: #f7f7f7;
    align-items: center;
}
.descriptionsuggestion:hover{
    color: var(--redcolor);
}
.descriptionmachineleftcontent{
    font-size: 1.6rem;
    margin:2rem 0;
    line-height: 2.2rem;
    color: #595959;
}
.descriptionaboutaquote{
    padding: 2rem;
    background-color: #f7f7f7;
    margin-top: 7rem;
}
.descriptionaboutaquote{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.descriptionaboutaquoteinputs{
    padding: 1.4rem;
    margin-top: 1rem;
    border: none;
    border-radius: 10px;
    resize: vertical;
}
.descriptionaboutbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bluecolor);
    border: none;

    border-radius: 3px;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 2rem 2.5rem;
    margin-top: 3rem;
}
.descriptionaboutaquoteheading{
    font-size: 3rem;
    color: var(--bluecolor);
    margin:1.5rem 0
}
.downloadbrochuresheading{
    font-size: 2.2rem;
    color: var(--bluecolor);
}
.downloadbrochuressubheading{
    font-size: 1.5rem;
    color: var(--bluecolor);
    margin: 1rem 0;
}
.brochurecontent{
    width: 100%;
    background-color: #f7f7f7;
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.brochurelogo{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: 10px;
    color: white;
    border: 1px solid black;
    background-color: var(--bluecolor);

}
.brochuredescription{
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
.brochuretitle{
    color: black;
    
}
.brochuresubtitle{
    color: black;
    font-weight: 700;
}
.brochurecontent{
    margin: 1rem 0;
}
.downloadbrochures{
    width: 100%;
    margin-top: 4rem;
    border-radius: 20px;
}
.descriptionmachineleft{
    font-size: 3rem;
    color: var(--bluecolor);
}
.descriptionmachineleft>span{
    color: var(--redcolor);
}
.descriptionmachineleftcontentlist{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}
.descriptionpoints{
    position: relative;
    display: flex;
    justify-content: space-around;
    /* margin-left: 2rem; */
    color: black;
    font-weight: 700;
    align-items: center;
    float: left;
    width: 40%;
    font-size: 1.3rem;
    margin: 1rem;
}
.descriptionpoints:before {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    left: 0;
    top: 6px;
    border-radius: 50%;
    background: -webkit-linear-gradient(45deg, #483d73, #e11e25 100%);
}
.descriptionpoints:after {
    position: absolute;
    left: 2px;
    top: 8px;
    content: '';
    background: #fff;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
.machinespecs{
    width: 100%;
    min-height: 80vh;
}
.machinespecscomp{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.machinetable{
    border-collapse: collapse;
    width: 100%;
}
.machinehead{
    background-color: var(--bluecolor);
    color: white;
    /* width: 30%; */
}
.machinetablerow:nth-child(odd){
    background-color: #f2f2f2;
}
.machinetablerow:hover{
    background-color: #ddd;
}
.adjustwidth{
    width: 20%;
}
.machinespecsheading{
    font-size: 4rem;
    color: var(--bluecolor);
    margin: 7rem 0;
}
.machinespecsheading>span{
    color: var(--redcolor);
}
.machinerealtedproducts{
    width: 100%;
    min-height: 100vh;
}
.machinerelatedproductscomp{
    width: 85%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.machinerelatedproductheading{
    font-size: 4rem;
    margin: 4rem 0;
    color: var(--bluecolor);
}
.machinerelatedproductheading>span{
    color: var(--redcolor);
}
.machineblogsection{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.descriptionmachineleftimage{
    display: flex;
    margin-top: 5rem;
}
.descriptionmachineimageleft{
    width: 60%;
}
.descriptionmachineimageright{
    width: 40%;
}
.descriptionmachineimageright>img{
    width: 100%;
}
.descriptionmachineimagedesc{
    font-size: 1.6rem;
}