/* template-color */




.header-top-one .social-links li a:hover{
  background: -webkit-linear-gradient(45deg, #483d73, #e11e25 100%);
}

.header-top-one .info li i{
	background: -webkit-linear-gradient(45deg, #483d73, #e11e25 100%);
}

.header-top-one .info li p a:hover{
	background: -webkit-linear-gradient(45deg, #483d73, #e11e25 100%);
}

.header-top-one .info li.search-box-outer .search-box-btn:hover i{
	background: -webkit-linear-gradient(45deg, #483d73, #e11e25 100%);
}

.main-header .search-panel .search-btn{
	background: -webkit-linear-gradient(45deg, #483d73, #e11e25 100%);
}

.theme-btn.btn-one{
	background: -webkit-linear-gradient(0deg, #483d73, #e11e25 100%);
}

.main-menu .navigation > li.current > a,
.main-menu .navigation > li:hover > a{
  color: #e11e25;
}

.main-menu .navigation > li > ul > li > a:hover,
.main-menu .navigation > li > .megamenu li > a:hover{
	color: #e11e25;
}

.main-menu .navigation > li > ul > li > ul > li > a:hover{
  color: hsl(358, 76%, 50%);
}

.main-menu .navigation > li > .megamenu li > a:before{
	background: #e11e25;
}

.g_color{
	background: -webkit-linear-gradient(45deg, #483d73, #e11e25 100%);
}

.image_block_one .image-box .video-inner .video-btn a{
	color: #c2152f;
}

.list-style-one li:before{
	background: -webkit-linear-gradient(45deg, #483d73, #e11e25 100%);
}

.service-block-one .inner-box h4 a:hover{
  color: #e11e25;
}

.service-block-one .inner-box .link a:hover{
  color: #e11e25;
}

.service-block-one .inner-box:hover .icon-box .icon{
	background: -webkit-linear-gradient(45deg, #e11e25, #483d73 100%);
}

.feature-block-one .inner-box .icon-box:before{
	background: -webkit-linear-gradient(45deg, #483d73, #e11e25 100%);
}

.content_block_two .content-box .inner-box .single-item h4 a:hover{
  color: #e11e25;
}

.processing-block-one .inner-box .icon-box:before{
	background: -webkit-linear-gradient(45deg, #483d73, #e11e25 100%);
}

.processing-block-one .inner-box .icon-box .count-box:before{
	background: -webkit-linear-gradient(45deg, #483d73, #e11e25 100%);
}

.image_block_three .image-box .text:before{
	background: -webkit-linear-gradient(90deg, #483d73, #e11e25 100%);
}

.progress-box .bar-inner{
	background: -webkit-linear-gradient(0deg, #483d73, #e11e25 100%);
}

.dots-style-one .owl-dots .owl-dot.active span,
.dots-style-one .owl-dots .owl-dot span:hover{
	background: -webkit-linear-gradient(0deg, #483d73, #e11e25 100%);
}

.pricing-one .tab-btn-box .tab-btns li:before{
	background: -webkit-linear-gradient(0deg, #483d73, #e11e25 100%);
}

.pricing-block-one .pricing-table .table-header h6{
	background: -webkit-linear-gradient(0deg, #483d73, #e11e25 25%);
}

.pricing-block-one .pricing-table .table-content .feature-list li:before{
	background: -webkit-linear-gradient(0deg, #483d73, #e11e25 100%);
}

.theme-btn.btn-three:before{
	background: -webkit-linear-gradient(0deg, #483d73, #e11e25 100%);
}

.news-block-one .inner-box .image{
	background: -webkit-linear-gradient(0deg, #483d73, #e11e25 100%);
}

.news-block-one .inner-box .post-info li a:hover{
  color: #e11e25;
}

.news-block-one .inner-box .lower-content h4 a:hover{
  color: #e11e25;
}

.footer-top .social-links li a:before{
	background: -webkit-linear-gradient(45deg, #483d73, #e11e25 100%);
}

.footer-widget-section .about-widget .subscribe-form .form-group input:focus{
  border-color: #e11e25 !important;
}

.footer-widget-section .about-widget .subscribe-form .form-group input:focus + button,
.footer-widget-section .about-widget .subscribe-form .form-group button:hover{
  color: #e11e25;
}



/** home-2 color **/

.subscribe-one .form-inner .form-group input:focus{
  border-color: #e11e25 !important;
}

.footer-two .footer-widget-section a:hover{
  color: #e11e25 !important;
}

.footer-social-two li a:before{
	background: #e11e25;
}

.footer-two .footer-bottom a:hover{
  color: #e11e25 ;
}




/** home-seven **/

/** home-8 **/



/** home-11 **/

.header-style-11 .header-top-two .info li i{
	color: #e11e25;
}

.header-style-11 .header-top-two .info li p a:hover{
	color: #e11e25;
}

.header-style-11 .search-box-outer .search-box-btn:hover{
	color: #e11e25;
}

.header-style-11 .social-links-two li a:hover{
	color: #e11e25;
}

.header-style-11 .search-panel .search-btn{
	background: #e11e25;
}

.header-style-11 .logo-box{
	background: #e11e25;
}

.header-style-11 .main-menu .navigation > li.current > a, 
.header-style-11 .main-menu .navigation > li:hover > a{
	color: #e11e25;
}

.header-style-11 .main-menu .navigation > li > ul > li > a:hover, 
.header-style-11 .main-menu .navigation > li > .megamenu li > a:hover{
	color: #e11e25;
}

.header-style-11 .main-menu .navigation > li > .megamenu li > a:before{
	background: #e11e25;
}

.header-style-11 .main-menu .navigation > li > ul > li > ul > li > a:hover {
  color: #e11e25;
}

.theme-btn.btn-14{
	background: #e11e25;
}

.slider-nine .banner-carousel .owl-nav button:hover:before {
  background: -webkit-linear-gradient(0deg, #e11e25, #e11e25 100%);
}

.feature-block-nine .inner-box .icon-box{
	color: #e11e25;
}

.feature-block-nine .inner-box h3 a:hover{
	color: #e11e25;
}

.image_block_11 .image-box .text h2{
	color: #e11e25;
}

.handle-preloader.home-11{
	background: #e11e25;
}

.about-11 .list-style-two li:before{
  color: #e11e25;
}

.service-11 .service-block-eight .inner-box .image-box{
	background: #e11e25;
}

.service-11 .service-block-eight .inner-box .icon-box{
	background: #e11e25;
}

.service-11 .theme-btn.btn-two:before{
	background: #e11e25;
}

.service-11 .service-block-eight .inner-box h4 a:hover{
	color: #e11e25;
}

.funfact-six .inner-container{
  background: #e11e25;
}

.chooseus-eight .content_block_14 .content-box .single-item .icon-box{
	background: #e11e25;
}

.team-six .team-block-one .inner-box .image-box .social-links-two li a:hover{
  background: #e11e25;
}

.team-six .team-block-one .inner-box .lower-content h4 a:hover{
	color: #e11e25;
}

.project-block-three .inner-box .lower-content h3 a:hover{
	color: #e11e25;
}

.news-11 .news-block-one .inner-box .image{
	background: #e11e25;
}

.news-11 .news-block-one .inner-box .post-info li a:hover{
	color: #e11e25;
}

.news-11 .news-block-one .inner-box .lower-content h4 a:hover{
	color: #e11e25;
}

.news-11 .news-block-one .inner-box .theme-btn:before{
	background: #e11e25;
}

.subscribe-four{
	background: #45406f;
}

.footer-11 .footer-social-three li a:hover{
	border-color: #e11e25;
	background: #e11e25;
}




/** home-15 **/

.handle-preloader.home-15{
	background: #e11e25;
}

.header-style-15 .nav-right .search-box-outer:hover{
  color: #e11e25;
}

.header-style-15 .search-panel .search-btn{
	background: #e11e25;
}

.header-style-15 .main-menu .navigation > li.current > a, 
.header-style-15 .main-menu .navigation > li:hover > a{
	color: #e11e25;
}

.header-style-15 .main-menu .navigation > li > ul > li > a:hover, 
.header-style-15 .main-menu .navigation > li > .megamenu li > a:hover{
	color: #e11e25;
}

.header-style-15 .main-menu .navigation > li > .megamenu li > a:before{
	background: #e11e25;
}

.header-style-15 .main-menu .navigation > li > ul > li > ul > li > a:hover{
	color: #e11e25;
}

.theme-btn.btn-17{
	background: #e11e25;
}

.slider-11 .banner-carousel .owl-nav button:hover:before {
  background: #e11e25 ;
}

.feature-block-12 .inner-box .icon-box{
	color: #e11e25;
}

.feature-block-12 .inner-box h3 a:hover{
	color: #e11e25;
}

.image_block_19 .image-box .video-btn a i{
	color: #e11e25;
}

.image_block_19 .image-box .video-btn a:hover{
  background: #e11e25;
}

.content_block_18 .content-box .tab-btns li:before{
	background: #e11e25;
}

.content_block_18 .content-box .list-style-two li:before{
	color: #e11e25;
}

.service-block-12 .inner-box .icon-box{
  background: #e11e25;
}

.service-block-12 .inner-box .lower-content .link a:hover{
	color: #e11e25;
}

.service-block-12 .inner-box .image-box{
	background: #e11e25;
}

.service-block-12 .inner-box .lower-content h3 a:hover{
	color: #e11e25;
}

.chooseus-11 .inner-box .single-item .icon-box .icon{
	color: #e11e25;
}

.chooseus-11 .inner-box .single-item h3 a:hover{
	color: #e11e25;
}

.team-seven .team-block-one .inner-box .lower-content h4 a:hover{
	color: #e11e25;
}

.testimonial-eight.home-15 .owl-nav button:hover{
	background: #e11e25;
}

.project-three.home-15 .project-block-three .inner-box .image-box{
  background: #e11e25;
}

.pricing-seven .tab-btn-box .tab-btns li:before{
	background: #e11e25;
}

.pricing-seven .pricing-block-two .pricing-table .table-header h6{
	color: #e11e25;
}

.pricing-block-two .pricing-table .feature-list-two li:before{
	border: 2px solid #e11e25;
}

.pricing-seven .pricing-block-two.active-block .pricing-table .theme-btn{
	background: #e11e25;
	border-color: #e11e25;
}

.cta-eight .inner-box h6{
  color: #e11e25;
}

.news-15 .news-block-one .inner-box .post-date-two{
  background: #e11e25;
}

.news-15 .news-block-one .inner-box .post-info li a:hover{
  color: #e11e25;
}

.news-15 .news-block-one .inner-box .lower-content h4 a:hover{
  color: #e11e25;
}

.subscribe-one.home-15 .form-inner .form-group button:hover{
	color: #e11e25 !important;
}

.footer-15 .footer-top-two .footer-menu li a:hover{
  color: #e11e25;
}

.footer-15 .footer-social-two li a:before{
	background: #e11e25;
}

.footer-15 .footer-widget-section .links-list li a:hover{
  color: #e11e25;
}

.footer-15 .footer-widget-section .info-list li a:hover{
  color: #e11e25;
}

.footer-15 .footer-bottom a:hover{
  color: #e11e25;
}



.subscribe-five.about-page-1 .subscribe-form .message-btn .theme-btn{
  background: #483d73;
}

.handle-preloader.about-page-3{
	background: #e11e25;
}

.sec-title-13 h5{
	color: #e11e25;
}

.about-18 .content_block_11 .content-box .list li:before{
  color: #e11e25;
}

.feature-block-eight .inner-box .icon-box{
	color: #e11e25;
}

.team-block-four .inner-box .social-links li a:hover{
  background: #e11e25;
}

.team-block-four .inner-box .lower-content h4 a:hover{
  color: #e11e25;
}

.funfact-nine{
	background: #e11e25;
}

.content_block_26 .content-box .single-item .icon-box{
  background: #e11e25;
}

.testimonial-five.about-page-3 .dots-style-one .owl-dots .owl-dot span{
	background: #e11e25;
}

.main-header.service-page-1 .main-menu .navigation > li.current > a, 
.main-header.service-page-1 .main-menu .navigation > li:hover > a{
  color: #e11e25;
}

.main-header.service-page-1 .main-menu .navigation > li > ul > li > a:hover, 
.main-header.service-page-1 .main-menu .navigation > li > .megamenu li > a:hover{
	color: #e11e25;
}

.main-header.service-page-1 .main-menu .navigation > li > .megamenu li > a:before{
	background: #e11e25;
}

.main-header.service-page-1 .main-menu .navigation > li > ul > li > ul > li > a:hover{
	color: #e11e25;
}

.main-header.service-page-1 .nav-right .search-box-outer:hover, 
.main-header.service-page-1 .nav-right .nav-btn:hover{
	color: #e11e25 !important;
}

.main-header.service-page-1  .search-panel .search-btn{
	background: -webkit-linear-gradient(45deg, #483d73, #e11e25 100%);
}

.service-block-14 .inner-box h4 a:hover{
  color: #e11e25;
}

.service-block-14 .inner-box .link a:hover{
	color: #e11e25;
}

.faq-two.service-page-1 .image_block_one .image-box .video-inner .video-btn a{
	background: -webkit-linear-gradient(45deg, #483d73, #e11e25 100%);
}

.pricing-block-one .pricing-table .table-content-two .feature-list li:before{
	background: -webkit-linear-gradient(45deg, #483d73, #e11e25 100%);
}

.handle-preloader.service-page-4{
	background: #e11e25;
}

.main-header.service-page-4 .search-panel .search-btn{
	background: #e11e25;
}

.main-header.service-page-4 .nav-right .nav-btn:hover,
.main-header.service-page-4 .nav-right .search-toggler:hover{
	color: #e11e25 !important;
}

.main-header.service-page-4 .main-menu .navigation > li.current > a, 
.main-header.service-page-4 .main-menu .navigation > li:hover > a{
  color: #e11e25;
}

.pricing-nine .tab-btns li:hover,
.pricing-nine .tab-btns li.active-btn{
  background: #e11e25;
}

.pricing-block-five .pricing-table .theme-btn:hover{
  border-color: #e11e25;
}

.pricing-block-five .pricing-table .theme-btn:before{
	background: #e11e25;
}

.pricing-block-five .pricing-table .feature-list li i{
  color: #e11e25;
}

.pricing-block-five .pricing-table .table-header h5{
	color: #e11e25;
}

.subscribe-five.service-page-4 .subscribe-form .message-btn .theme-btn{
  background: #e11e25;
}


.main-header.pricing-page-3 .nav-right .nav-btn:hover{
  color: #e11e25;
}

.contactinfo-one .sec-title h5{
	color: #483d73;
}

.info-block-one .inner-box .icon-box{
	color: #483d73;
}

.info-block-one .inner-box p a:hover{
	color: #483d73;
}

.contact-three #contact-form .form-group input:focus,
.contact-three #contact-form .form-group textarea:focus{
  border-color: #483d73 !important;
}

.contact-four .info-list li .icon-box{
  background: #483d73;
}

.contact-four .info-list li p a:hover{
	color: #483d73;
}

.contact-four .sec-title h5{
	color: #483d73;
}

.contact-four #contact-form .form-group input:focus,
.contact-four #contact-form .form-group textarea:focus{
	border-color: #483d73 !important;
}

.contact-five #contact-form .form-group input:focus,
.contact-five #contact-form .form-group textarea:focus{
	border-color: #483d73 !important;
}

.contact-three .theme-btn,
.contact-four .theme-btn,
.contact-five .theme-btn,
.contact-six .theme-btn,
.contact-seven .theme-btn{
	background: #483d73;
}

.info-block-two .inner-box .info li a:hover{
  color: #483d73;
}

.info-block-two .inner-box{
	border-bottom: 3px solid #483d73;
}

.contactinfo-one.contact-page-4 .info-block-one .inner-box:hover .icon-box{
  color: #483d73;
}

.contact-six #contact-form .form-group input:focus,
.contact-six #contact-form .form-group textarea:focus{
	border-color: #483d73 !important;
}

.contact-seven .info-list li p a:hover{
	color: #483d73;
}

.contact-seven .info-list li .icon-box{
	color: #483d73;
}

.contact-seven #contact-form .form-group input:focus,
.contact-seven #contact-form .form-group textarea:focus{
	border-color: #483d73 !important;
}

.pagination li a:hover,
.pagination li a.current{
  background: #e11e25;
  border-color: #e11e25;
}

.blog-sidebar .tags-widget .tags-list li a:hover{
	background: #e11e25;
	border-color: #e11e25;
}

.blog-grid-one .news-block-one .inner-box .image{
	background: #e11e25;
}

.blog-grid-one .news-block-one .inner-box .theme-btn:before{
	background: #e11e25;
}

.blog-grid-one .news-block-one .inner-box .theme-btn:hover{
	border-color: #e11e25;
}

.blog-grid-one .news-block-one .inner-box .lower-content h4 a:hover{
	color: #e11e25;
}

.blog-grid-one .news-block-one .inner-box .post-info li a:hover{
	color: #e11e25;
}

.blog-grid-two .news-block-one .inner-box .lower-content .category a{
	color: #e11e25;
}

.blog-grid-two .news-block-one .inner-box .post-info li a:hover{
	color: #e11e25;
}

.blog-grid-two .news-block-one .inner-box .lower-content h4 a:hover{
	color: #e11e25;
}

.blog-grid-two .news-block-one .inner-box .theme-btn:before{
	background: #e11e25;
}

.header-top-one .info li.search-box-outer:hover i{
  background: -webkit-linear-gradient(45deg, #483d73, #e11e25 100%);
}



/** add new fixing css color **/

.service-block-one .inner-box:before{
	background: -webkit-linear-gradient(-90deg, #483d73, #e11e25 100%);
}

.service-block-two .inner-box:before{
	background: -webkit-linear-gradient(45deg, #483d73, #e11e25 75%);
}

.theme-btn-one {
  background: #483d73;
}

.theme-btn-one:before {
  background: #e11e25;
}

.theme-btn-three{
	background:#483d73;
}
.theme-btn-three:hover{
	background: #e11e25;
}